.caregiver-info p,
span {
  color: black;
}


.caregiver {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #f7f9fb;
    padding-bottom: 40px;
  }
  
  .dashboard-notification {
    background-color: #687864;
    border-radius: 0 0 20px 20px;
    height: 100px;
    padding: 0 25px;
    padding-top: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .small-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
  }
  
  .welcome-user {
    text-align: left;
    font-size: 14px;
  }
  
  .welcome-user p {
    margin: 2px 0;
  }
  
  .nofi-icon {
    width: 25px;
    height: 25px;
    padding: 3px;
    border: 0.5px solid white;
    border-radius: 10px;
  }
  
  .caregiver-selection {
    padding-top: 25px;
  }
  
  .sort-container {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
  }
  
  .caregiver-info {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .caregiver-list {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
  }
    
  .caregiver-image-container{
    background-color: #687864;
    height: 80px; 
    width: 100%;
    padding: 0 15px;
    border-radius: 15px 15px 0 0;
  }

  .caregiver-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 12px;
    margin: 10px 0;
  }
  
  .caregiver-price-container {
    text-align: left;
    padding: 0 15px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .sorting-button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #8fc1e3;
    padding: 3px 7px;
    margin-left: 5px;
  }
  
  .sorting-button:active {
    background-color: #8fc1e3;
  }
  
  .highlight {
    font-weight: bold;
    background-color: #8fc1e3;
    width: fit-content;
    border-radius: 20px;
    padding: 5px 7px;
  }
  
  .rating-highlight {
    padding: 5px 7px;
    border-radius: 10px;
    background-color: #8fc1e3;
    font-weight: bold;
  }
  