.message{
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-color: #F7F9FB;
}

.message-receiver-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px; 
    height: 60px;
}

.message-receiver-info{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.receiver-img-container{
    height: 60px;
}

.receiver-img{
    width: 50px;
    height: 50px;
    background-color: #687864;
}

.receiver-img-container img{
    border-radius: 50%;
}

.horizontal-line-msg{
    border-bottom: 0.5px solid  #F7F9FB;
    width: calc(100% - 50px);
}

.message-input input{
    border: none;
    width: calc(100% - 60px);
}

.message-input{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: calc(100% - 50px);
}

.send-icon{
    height: 30px;
    width: 30px;
    color:  #687864;
}

.sender-message{
    background-color: #687864;
    color: white;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    /* margin-right: 25px; */
    /* float: right; */
    width: calc(50%  - 30px);
}

.message-item{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 25px ;
}

.message-time{
    color: gray;
    font-size: 10px;
}