.login{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    background-color: #F7F9FB;
    box-sizing: border-box;
}
.logo_name{
    font-family: "Suez One", serif;
    font-weight: 400; 
    color: #687864;
    margin: 0;
    box-shadow: 0px;
    height: fit-content;
    display: flex;

}

.logo{
    width: 50px;
    margin-right: 5px;  
}
.top_login{
    background-color: white ;
    padding: 50px 25px 5px;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.button_section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    
}
.signin-button{
    background-color: #687864;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    height: 30px;
}

.registration-button{
    background-color: #F7F9FB;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    height: 30px;
}
.registration-button a{
    text-decoration: none;
    color: black;
}
.bottom_login{
    padding: 20px 25px;   
}

.login_form{
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    text-align: left;
    
}
.login_form input{
    display: block;
    margin-top: 7px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 0px 10px;
    box-sizing: border-box;
}

.forgot_password{
    text-align: right;
    font-size: 14px;
}

.forgot_password a{
    color:#31708E;   
}

.forgot_password a:hover{
    font-weight: bold;
   
}
.signin-option{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}

.signin-option p{
    margin: 10px 0;
}


.social_media_icons{
    width: 50%;
    display: flex;
   justify-content:space-evenly;  
}

.facebook-icon{
    color:#316FF6;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}
.google-icon{
    color:#DB4437;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}

.apple-icon{
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}

.toggle-password{
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 40px; /* Space for the toggle button */
  }
  
  .password-input .toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px; /* Add padding to the button for better clickability */
  }
  
  /* Style for the eye icon */
  .password-input .toggle-password svg {
    width: 20px;
    height: 20px;
  }
  